.des-m, .test-1, .des-a {
    background-color: blue;
    color: red;
    font-size: 40px;
}

h3 {
    color: green;
    text-align: center;
}
h1 {
    font-size: 55px;
    background-color: yellow;
    color: black;
}
.title-m, .title-a, .title-r {
    text-align: center;
    background-color: burlywood;
    color: chocolate;
}

.ingredients-m, .ingredients-r, .ingredients-a {
    color: purple;
    background-color: cornsilk;
}
.steps-m, .steps-r, .steps-a {
    color: salmon;
    background-color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
}

